<%- include("../../shared/includes/head", {PageTitle: "Products"}) %>
<link rel="stylesheet" href="/styles/forms.css">
<link rel="stylesheet" href="/styles/auth.css">
<link rel="stylesheet" href="/styles/product.css">
<script src="/scripts/product-mang.js" defer></script>
</head>
<body>
  <%- include("../../shared/includes/header") %>
  <main>
    <h1>All Products</h1>
      <ul id="products-grid">
        <% for (const product of products) { %>
        <li>
          <article class="product-item">
            <img src="<%= product.imageUrl %>" alt="">
            <div class="product-item-content">
              <h2><%= product.title %></h2>
              <div class="product-item-actions">
                <a class="btn" href="/products/<%= product.id %>">View Details</a>
              </div>
            </div>
            
          </article>
        </li>
        <% } %>
      </ul>
   
  </main>
<%- include("../../shared/includes/footer") %>